<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home.css">
    <title>Home</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="name"><p>Campus Lost & Found</p></div>
            <div class="item-login">
                <div class="item">
                    <% if(isLoggedIn) { %>
                        <a href="/items/add"><p>Add-Item</p></a>
                    <% } else { %>
                        <a href="/auth/login"><p>Add-Item</p></a>
                    <% } %>
                </div>
                <div class="login">
                    <% if (isLoggedIn) { %>
                        <a href="/auth/logout"><p>Logout</p></a>
                    <% } else{ %>
                        <a href="/auth/login"><p>Login</p></a>
                    <% } %>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="hero-img">
            <div class="img">
                <p class="hero-title">Lost Something? We Can Help!</p>
                <p class="hero-sub">Connect lost items with their owners in our campus community</p>
            </div>
        </div>
        <div class="tabs">
            <a href="/lost-items" class="tab-lost"><p>Lost Items</p></a>
            <a href="/found-items" class="tab-found"><p>Found Items</p></a>
        </div>
    </main>
</body>
</html>